<footer class="footer footer-big footer-default top-border">
    <div class="container">


        <hr />

        <!-- social media buttons -->
        <!-- <div class="social-area text-center">
            <h5>Share</h5>
            <a href="#" class="btn btn-social btn-round btn-facebook">
                <i class="fa fa-facebook"></i>
            </a>
            <a href="#"  class="btn btn-social btn-round btn-twitter">
                <i class="fa fa-twitter"></i>
            </a>
        </div> -->
        <div class="copyright">
            &copy; 2017 Richard Trujillo
        </div>
    </div>
</footer>